@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: 1px solid $primary-color;

  .link {
    text-decoration: none;
    padding: .8rem;
    margin: 0 .4rem;
    color: #fff;
    outline: none;
  }

  ul {
    list-style: none;
    display: flex;
  }
}

.landing {
  $hero-height: 100vh;
  $hero-width: 50vh;
  display: flex;

  .hero {
    background: url('../img/team.jpg') no-repeat center center/cover;
    height: $hero-height;
    // width: $hero-width;
    position: relative;
    flex: 1;

    &-text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $light-color;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 1.4;
      white-space: nowrap;

      &__heading {
        font-size: 5rem;
        letter-spacing: .3rem;
        border: .2rem solid $light-color;
        border-radius: .2rem;
        width: 50%;
        padding: .3rem;
        margin: 2rem auto;
      }

      &__lead {
        font-size: 2rem;
        letter-spacing: .1rem;
      }
    }
  }
  
  .dark-overlay {
    height: $hero-height;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
  }

  .info {
    flex: 1;
    position: relative;

    .content {
      display: flex;
      flex-direction: column;
    }

    .panel {
      display: flex;
      justify-content: space-around;
      margin: 5rem auto;
      width: 100%;

      &-description {
        text-align: center;
        padding: 2rem;
        height: 100vh;
        

        &__title {
          font-size: 4rem;
        }

        &__lead {
          text-align: left;
        }
      }
    }

    .description {
      // flex: 15;
    }

    .form {
      display: flex;
      flex-wrap: wrap;

      &-item--name,
      &-item--email {
        flex: 1;
        flex-wrap: 50%;
        text-align: left;
      }

      &-item__text {
        display: block
      }

      &-item--message {
        flex: 0;
        text-align: left;
      }
    }
  }
}