.bg-primary {
  background-color: #17a2b8;
  color: #fff; }

.bg-secondary {
  background-color: #37517e;
  color: #fff; }

.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid; }

.bg-dark {
  background-color: #343a40;
  color: #fff; }

.bg-medium {
  background-color: #4f5862;
  color: #fff; }

.bg-success {
  background-color: #28a745;
  color: #fff; }

.bg-danger {
  background-color: #dc3545;
  color: #333; }

.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid; }

.btn {
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 2rem;
  padding: 1rem;
  border: .1rem solid #fff;
  border-radius: .2rem;
  cursor: pointer;
  transition: all .3s ease-in; }
  .btn:hover {
    background-color: #fff;
    color: #343a40; }
  .btn::-moz-focus-inner {
    border: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  overflow: hidden; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #17a2b8; }
  .nav .link {
    text-decoration: none;
    padding: .8rem;
    margin: 0 .4rem;
    color: #fff;
    outline: none; }
  .nav ul {
    list-style: none;
    display: flex; }

.landing {
  display: flex; }
  .landing .hero {
    background: url("../img/team.jpg") no-repeat center center/cover;
    height: 100vh;
    position: relative;
    flex: 1; }
    .landing .hero-text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #f4f4f4;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 1.4;
      white-space: nowrap; }
      .landing .hero-text-box__heading {
        font-size: 5rem;
        letter-spacing: .3rem;
        border: 0.2rem solid #f4f4f4;
        border-radius: .2rem;
        width: 50%;
        padding: .3rem;
        margin: 2rem auto; }
      .landing .hero-text-box__lead {
        font-size: 2rem;
        letter-spacing: .1rem; }
  .landing .dark-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); }
  .landing .info {
    flex: 1;
    position: relative; }
    .landing .info .content {
      display: flex;
      flex-direction: column; }
    .landing .info .panel {
      display: flex;
      justify-content: space-around;
      margin: 5rem auto;
      width: 100%; }
      .landing .info .panel-description {
        text-align: center;
        padding: 2rem;
        height: 100vh; }
        .landing .info .panel-description__title {
          font-size: 4rem; }
        .landing .info .panel-description__lead {
          text-align: left; }
    .landing .info .form {
      display: flex;
      flex-wrap: wrap; }
      .landing .info .form-item--name, .landing .info .form-item--email {
        flex: 1;
        flex-wrap: 50%;
        text-align: left; }
      .landing .info .form-item__text {
        display: block; }
      .landing .info .form-item--message {
        flex: 0;
        text-align: left; }
